@import "src/styles/margin.scss";

hr {
    display: block;
    margin: $margin-extra-large 0 $margin-large 0;
    border-top: 1px solid rgba(0, 0, 0, .12);
    width: 100%
}

#description-vehicles {
    margin-bottom: 0 !important;
}

#wrapper-submit {
    position: relative;
    margin-bottom: 50px;
    width: 80px;
}