@import "src/styles/spacing.scss";

hr {
    display: block;
    margin: $margin-extra-large 0 $margin-large 0;
    border-top: 1px solid rgba(0, 0, 0, .12);
    width: 100%
}

#description-vehicles {
    margin-bottom: 0 !important;
}

#title-address,
#title-phone-number,
#title-vehicles {
    margin-top: $margin-medium - $margin-bottom-input !important;
}

#wrapper-add-vehicle,
#wrapper-submit {
    margin-top: $margin-large - $margin-bottom-input;
}