<div class="container">
    <div class="row">
        <div class="col">
            <mat-card>
                <h1>Success!</h1>
                <p id="description">You are on your way! We'll let you know if you need to complete anything else. If you have any questions, please contact:</p>
                <p id="title-property-manager">{{propertyManagerName}}</p>
                <p id="property-manager-phone-number">{{propertyManagerPhoneNumber}}</p>
                <p id="property-manager-email">{{propertyManagerEmail}}</p>
            </mat-card>
        </div>
    </div>
</div>