@import "src/styles/spacing.scss";
@import "src/styles/color.scss";
@import "src/styles/typeface.scss";

h1 {
    margin-bottom: $margin-medium !important;
    font-size: $font-size-header1;
    line-height: $font-height-header1;
    color: $color-accent;
}

.container {
    text-align: center;
    height: fit-content !important;
}

#description {
    margin-bottom: $margin-large !important;
}

#title-property-manager {
    margin-bottom: $margin-normal !important;
    font-size: $font-size-header2;
    line-height: $font-height-header2;
    font-weight: $font-bold;
}

#property-manager-phone-number {
    margin-bottom: $margin-small !important;
}

#property-manager-email {
    margin-bottom: 0 !important;
}