<div class="container">
    <div class="row">
      <div class="col">
        <h1>Registration Page</h1>
        <form [formGroup]="form" (ngSubmit)="register()">
            <h2>Duration of Stay</h2>
            <h3>
                <label>From (Month/Day/Year):</label>
                <input type="text" formControlName="durationDateFrom">
            </h3>
            <h3>
                <label>To (Month/Day/Year):</label>
                <input type="text" formControlName="durationDateTo">
            </h3>
        
            <h2>Your Mailing Address</h2>
            <h3>
                <label>House Number & Street:</label>
                <input type="text" formControlName="addressStreet">
            </h3>
            <h3>
                <label>City:</label>
                <input type="text" formControlName="addressCity">
            </h3>
            <h3>
                <label>State:</label>
                <input type="text" formControlName="addressState">
            </h3>
            <h3>
                <label>Zipcode:</label>
                <input type="text" formControlName="addressZipcode">
            </h3>
        
            <h2>Your Phone Number</h2>
            <h3>
                <label>Primary Phone Number:</label>
                <input type="text" formControlName="phoneNumber">
            </h3>
            <h3>
                <label>Secondary Phone Number (optional):</label>
                <input type="text" formControlName="phoneNumber2">
            </h3>

            <h2>Vehicles</h2> <button type="button" (click)="addAnotherVehicle()">+ Add Another Vehicle</button>
            <p>List all vehichle license plates staying at 153 Keats Lane for part or all of duration of the stay. If a rental car is being used, please indicate that.</p>
            
            <div *ngFor="let i of plateLoopNumbers">
                <h3>Vehicle {{i + 1}}</h3>
                <p>
                    <label>Plate State:</label>
                    <input type="text" formControlName="vehicle{{i + 1}}PlateState">
                </p>
        
                <p>
                    <label>Plate Number:</label>
                    <input type="text" formControlName="vehicle{{i + 1}}PlateNumber">
                </p>
                
                <p>
                    <label>This car is a rental:</label>
                    <input type="checkbox" formControlName="vehicle{{i + 1}}Rental" />
                </p>
            </div>

            <p>By typing your full legal name below, you agree to digitally sign the Towamensing Trails Property Owners Association Short Term Rental Registration Form.</p>
            <p>
                <label>Your Full Legal Name:</label>
                <input type="text" formControlName="namePrinted">
            </p>
        
      
            <button type="submit" [disabled]="!form.valid">Register</button>
        </form>
      </div>
    </div>
  </div>
