h1 {
    margin-bottom: 50px !important;
    text-transform: uppercase;
    color: #071805;
}

h2 {
    margin-top: 50px !important;
    color: #14A1B2;
}

h3 {
    margin-top: 25px !important;
    margin-bottom: 12px !important;
    color: #071805;
}

p {
    margin-bottom: 25px !important;
    color: #071805;
}

.bold {
    font-weight: 500;
}