@import "margin.scss";

h1 {
    margin-bottom: $margin-large !important;
    text-transform: uppercase;
    color: #071805;
}

h2 {
    color: #14A1B2;
}

h3 {
    margin-top: $margin-medium !important;
    margin-bottom: $margin-normal !important;
    color: #071805;
}

h4 {
    margin-top: $margin-medium !important;
    margin-bottom: $margin-normal !important;
}

hr {
    color: #4A4F52;
}

p {
    margin-bottom: $margin-medium !important;
    color: #071805;
}

.bold {
    font-weight: 500;
}

.mt-large {
    margin-top: 50px !important;
}