@import "color.scss";
@import "spacing.scss";
@import "typeface.scss";

h1 {
    margin-bottom: $margin-large  !important;
    text-transform: uppercase;
    color: $color-text;
}

h2 {
    color: $color-accent;
}

h3 {
    margin-top: $margin-medium  !important;
    margin-bottom: $margin-normal  !important;
    color: $color-text;
}

h4 {
    margin-top: $margin-medium  !important;
    margin-bottom: $margin-normal  !important;
}

hr {
    color: $color-hr;
}

p {
    margin-bottom: $margin-medium  !important;
    color: $color-text;
}

a:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

.bold {
    font-weight: $font-bold !important;
}

.mt-large {
    margin-top: $margin-large !important;
}

.mb-large {
    margin-bottom: $margin-large !important;
}