.mat-button,
.mat-raised-button, 
.mat-flat-button, 
.mat-icon-button, 
.mat-stroked-button { 
  border-radius: 25px !important; 
}

.mat-card {
  border-radius: 8px !important;
  padding: 50px !important;
}