$margin-extra-large: 100px;
$margin-large: 50px;
$margin-medium: 25px;
$margin-normal: 12px;
$margin-small: 6px;

$margin-header-footer: 13px;

// This is set from Angular.
$margin-bottom-input: 18px;