$font-extra-bold: 800;
$font-bold: 700;
$font-semi-bold: 600;
$font-medium: 500;
$font-normal: 400;

$font-size-header1: 30px;
$font-size-header2: 24px;
$font-size-header3: 18px;
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-extra-small: 12px;

@font-face {
    font-family: Montserrat-Bold;
    src: url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: $font-extra-bold;
}