@import "src/styles/margin.scss";

body {
    height: auto
}

#nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;
    padding: 16px;
    box-shadow: 0 1px 3px #888888
}

#nav h1 {
    margin: 0;
    text-align: center;
}

#content {
    padding: 50px 0;
    background-color: #F6FBFB;
}

#wrapper-loading {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#loading {
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#loading p {
    margin-top: $margin-normal;
    color: #fff;
}

#progress {
    margin: 0 auto;
}