h1 {
    margin-bottom: 0 !important;
    font-size: 30px;
    text-transform: none;
}

p {
    margin-bottom: 2px !important;
    font-size: 12px;
    line-height: 16px;
}

.col {
    height: 100%;
    vertical-align: middle;
}