<div id="nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md align-self-center mb-4 mb-md-0">
                <h1>Keats Lane Rentals</h1>
            </div>
            <div class="col-sm-12 order-sm-first col-md-auto mb-4 mb-md-0">
                <p class="bold">{{propertyManager}}—24/7 Contact</p>
                <p>{{propertyManagerPhoneNumber}}</p>
                <p>{{propertyManagerEmail}}</p>
            </div>
            <div class="col-sm-12 order-sm-last col-md-auto align-self-center">
                <button mat-raised-button color="primary" type="button" (click)="bookNow()">Book Now</button>
            </div>
        </div>
    </div>
</div>
