<div id="nav" class="shadow">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md order-sm-1 order-md-2 align-self-center">
                <h1 (click)="navigateHome()">Keats Lane Rental</h1>
            </div>

            <div class="col-sm-12 col-md order-sm-2 order-md-1 align-self-center">
                <div *ngIf="shouldShowContact()" class="mt-4 mt-md-0">
                    <p id="property-manager">{{propertyManager}}—24/7 Contact</p>
                    <p>{{propertyManagerPhoneNumber}}</p>
                    <p id="property-manager-email">{{propertyManagerEmail}}</p>
                </div>
            </div>
            
            <div id="wrapper-book-now" class="col-sm-12 order-sm-3 order-md-3 col-md align-self-center">
                <button *ngIf="shouldShowBookNowButton()" mat-raised-button class="mt-4 mt-md-0" color="primary" type="button" (click)="bookNow()">Book Now</button>
            </div>
        </div>
    </div>
</div>