<div id="nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col align-self-center">
                <h1>Keats Lane Rentals</h1>
            </div>
            <div class="col-auto col-sm-4 order-sm-first">
                <p class="bold">{{propertyManager}}—24/7 Contact</p>
                <p>{{propertyManagerPhoneNumber}}</p>
                <p>{{propertyManagerEmail}}</p>
            </div>
            <div class="col-sm-4 col-auto align-self-center order-sm-last">
                <button mat-raised-button type="button" (click)="bookNow()">Book Now</button>
            </div>
        </div>
    </div>
</div>
