@import "src/styles/spacing.scss";
@import "src/styles/typeface.scss";

h1 {
    margin-bottom: 0 !important;
    font-size: $font-height-header1;
    line-height: $font-height-header1;
    text-transform: none;
    cursor: pointer;
}

p {
    margin-bottom: 2px !important;
    font-size: $font-size-extra-small;
    line-height: 16px;
}

.col {
    height: 100%;
    vertical-align: middle;
}

#nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: #FFFFFF;
    padding: $margin-medium $margin-header-footer;

    h1 {
        margin: 0;
        text-align: center;
    }
}

#property-manager {
    font-weight: $font-bold;
}

#property-manager-email {
    margin-bottom: 0;
}

#wrapper-book-now {
    text-align: end;
}