@import "src/styles/color.scss";
@import "src/styles/spacing.scss";
@import "src/styles/typeface.scss";

span {
    font-weight: $font-bold;
}

#wrapper-welcome-description {
    margin-bottom: $margin-extra-large;
}

#title-additional-details {
    margin-bottom: $margin-small !important;
    color: $color-accent;
    font-weight: $font-bold;
}

#wrapper-book-now {
    text-align: center;

    p {
        margin: $margin-medium 0;
        color: $color-primary;
        font-weight: $font-bold;
    }
}

#wrapper-photos {
    margin-bottom: $margin-extra-large;
    padding-top: $margin-large;
    padding-bottom: $margin-large;
    background-color: $color-white;
}

#wrapper-check-availability {
    text-align: center;

    h2 {
        font-size: $font-size-header1;
        line-height: $font-height-header1;
        font-weight: $font-semi-bold;
        margin-bottom: 0;
    }
}